body, html {
  width: 100%;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.fezGif {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.fezGif img {
  width: 100%;
  height: 100%;
}

h1 {
  color: #666;
}

#saveButton {
  background-color: #F9492B;
  color: white;
  font-weight: bold;
}

#cancelButton {
  color: #666;
  font-weight: bold;
}
